<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Here's Me!</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">My Education</h4>
                    <p class="text-muted">I am pursuing my Master's in Computer Science at Arizona State University. I focus on Natural Language Processing and Machine Learning.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Current Position</h4>
                    <p class="text-muted">I presently work as a Full-stack engineer at the Decision Theater in ASU on analytics projects for Arizona Schools and Adidas. Previously, I worked for 3+ years as a Full-stack software engineer at Unisys biometric and biographic based identity management solutions </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">My Choice of Poison</h4>
                    <p class="text-muted">I primarily work on Python and Java based frameworks for general programming, data analysis and modeling, and deep learning.</p>
                </div>
            </div>
        </div>
    </section>