<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Here's Me!</h2>
                <hr class="light">
                <p class="text-faded">I am pursuing my Master's in Computer Science at Arizona State University. My areas of focus include Natural Language Processing, Machine Learning and Knowledge Reasoning</p>
                <p class="text-faded">Prior to my Master's course, I worked for 3+ years as a Full-stack software engineer at Unisys. I worked on biometric and biographic based identity management solutions based using the Java/J2EE and AngularJS/ZKOSS frameworks.</p>
                <p class="text-faded">At ASU, I primarily use Python and Java based frameworks for general programming, data analysis and modeling, and deep learning. My Master's Thesis is focused on building a Question Answering system based on textual entailment and knowledge reasoning to answer challenging questions in the domain of science. </p>
                <a href="#resume" class="btn btn-default btn-xl">Check my Resume!</a>
            </div>
        </div>
    </div>
</section>
