<style>
	.no-margin-bottom {
		margin-bottom: 30px !important;
	}
</style>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hi! I'm Sanjay Narayana.</h1>
            <hr>
            <p class="no-margin-bottom">Graduate Student in Computer Science at Arizona State University (ASU)</p>
            <p class="no-margin-bottom">Full-stack Developer at the Decision Theater in ASU</p>
            <p class="no-margin-bottom">Research in Natural Language Processing</p>
            <br />
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
